@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --cor1: #778DA9;
    --cor2: #415A77;
    --cor3: #1B263B;
    --cor4: #0D1B2A;
    --cor5: #EF233C;
    --cor6: #D90429;
}

html, body {
    height: 100%;
    /* background-color: rgba(192, 192, 192, 0.253); */
}

/* BOOT CSS */
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 0 2%; */
    background-color: white;
}

.container-principal {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.w100 {width: 100%;}
.w90 {width: 90%}
.w80 {width: 80%}
.w70 {width: 70%}
.w60 {width: 60%}
.w50 {width: 50%;}
.w40 {width: 40%}
.w33 {width: 33%;}
.w30 {width: 30%;}
.w20 {width: 20%}
.w10 {width: 10%}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.borda {
    width: 100%;
    padding-top: 2px;
    background-color: var(--cor4);
}

.ajustar-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* FIM BOOT CSS */

.logo {
    font-size: 2em;
    color: var(--cor6);
    font-weight: 800;
    padding: 20px 0 ;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 35px;
    font-size: 1.1em;
    font-weight: 500;
}

.menu ul li a {
    color: var(--cor4);
    text-decoration: none;
    transition: all .3s ease;
}
.menu ul li a:hover {
    color: var(--cor6);
}

/* container da tag main */
main > .container {
    padding: 40px 2% 20px 2%;
}

/* --------------- formatação do carrosel --------------- */
.carousel-inner {
    box-shadow: 0 0 15px #1b263b50;
}

.conteudo-slide {
    position: relative;
}

.conteudo-slide .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0d1b2a7c;
    color: white;
    flex-direction: column;
}

.conteudo-slide .overlay h1 {
    font-size: 3.5em;
}
.conteudo-slide .overlay p {
    font-size: 1.5em;
}

.conteudo-slide .overlay a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background-color: var(--cor5);
    border-radius: 10px;
    transition: all .4s ease;
}
.conteudo-slide .overlay a:hover {
    background-color: var(--cor6);
}

.conteudo-slide img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* --------------- estilização do grid de notícias --------------- */
.container .container-noticias {
    width: 100%;
    height: 1100px;
    padding: 5px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

/* estilo geral dos cards de notícias */
.container .container-noticias section {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid silver;
    box-shadow: 0 0 6px #ccc;
    transition: all .3s ease;
}

.container .container-noticias section:hover {
    /* transform: scale(1.01); */
    margin-bottom: 10px;
}

/* cada section dessa é uma seção que contém a notícia com a d1 sendo sempre a manchete */
.container .container-noticias section.d1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.container .container-noticias section.d2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.container .container-noticias section.d3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.container .container-noticias section.d4 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.container .container-noticias section.d5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.container .container-noticias section.d6 {
    grid-column: 1/2;
    grid-row: 3/4;
}

/* --------------- formatação do segundo container de notícias --------------- */
.container .container-noticias:last-of-type section.d1 {
    grid-column: 2/4;
    grid-row: 1/3;
}

.container .container-noticias:last-of-type section.d2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.container .container-noticias:last-of-type section.d3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.container .container-noticias:last-of-type section.d4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.container .container-noticias:last-of-type section.d6  {
    grid-column: 3/4;
    grid-row: 3/4;
}

/* --------------- ESTILIZAÇÃO DOS CARDS DE NOTÍCIAS --------------- */

/* ESTILIZAÇÃO DA MANCHETE */
.container .container-noticias .manchete .imagem-manchete {
    width: 100%;
    height: 100%;
    position: relative;
}
.container .container-noticias .manchete .imagem-manchete img {
    border-radius: 5px;
}

.container .container-noticias .manchete .conteudo-noticia {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;
    /* background-color: rgba(255, 255, 255, 0.699); */
    color: white;
    padding: 12px;
}

.container .container-noticias .manchete .conteudo-noticia h3 {
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}
.container .container-noticias .manchete .conteudo-noticia p {
    font-size: 1em;
    font-weight: 500;
}

.link-noticia {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

a.ler-noticia {
    width: 100%;
    height: 100%;
    background-color: var(--cor5);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: .3s ease;
}
a.ler-noticia:hover {
    background-color: var(--cor6);
}
/* FIM ESTILIZAÇÃO DA MANCHETE */

footer .container h4 {
    text-align: center;
    padding: 15px 0;
}

/* ESTILIZAÇÃO DO CARD DE NOTÍCIA NORMAL */
.container-noticias .noticia-content {
    position: relative;
    height: 100%;
}

.container-noticias .noticia-content img {
    border-radius: 5px;
}

.container-noticias .noticia-content .titulo {
    position: absolute;
    bottom: 0;

    width: 100%;
    color: white;
    padding: 10px;
    /* background-color: rgba(204, 204, 204, 0.349); */
}

.noticia-content .titulo h3 {
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.noticia-content .titulo p {
    font-size: .9em;
    font-weight: bold;
}

/* --------------- responsivo do site --------------- */
@media screen and (max-width: 285px){
    .logo {
        font-size: 1.4em;
    }

    .menu ul {
        flex-direction: column;
        text-align: center;
        font-size: .9em;
        font-weight: 700;
    }
}